export MAILTRAP_API_TOKEN="op://Mailtrap Dev/Mailtrap SDK Dev API Key/account_api_token"
export MAILTRAP_ORGANIZATION_API_TOKEN="op://Mailtrap Dev/Mailtrap SDK Dev API Key/organization_api_token"

export MAILTRAP_ACCOUNT_ID=1719941
export MAILTRAP_ORGANIZATION_ID=1018408
export MAILTRAP_SANDBOX_ID=4588991
